<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      style="font-family: Exocet">
<head>
    <meta http-equiv="refresh" content="5">
    <style>
        body {
           font-family: Exocet;
           background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
</head>
<body>
<table>
   <tr>
       <td>Terror:</td><td>${keys.terror}</td>
   </tr>
   <tr>
       <td>Hate:</td><td>${keys.hate}</td>
   </tr>
   <tr>
       <td>Destruction:</td><td>${keys.destruction}</td>
   </tr>
</table>
</body>